<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title> LOGIN </title>
</head>
<body>
    <h2 class="h2zin"> LOGIN - Acessar o Sistema </h2>
    <form action="/login" method="post" name="logar" id="logar" class="form">
        <label for="email"> E-mail: </label>
        <input type="email" name="email" id="email" required class="digitarForm"/>
        <label for="senha"> Senha: </label>
        <input type="password" name="senha" id="senha" required class="digitarForm"/>
        <input type="submit" id="entrar" name="entrar" value="ENTRAR" class="botaoForm">
    </form>
    <br/>
    <p class="paragrafo"> Não possui Login? <a href="/cadastrar">Cadastre-se</a> </p>
</body>
</html>